<div class="containter">
  <div class="row"style="margin-top: 2%">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <h5>Medical Charts</h5>
      <app-medical-chart-list [charts]="charts"
                              (chartDeleted)="onChartDeleted($event)"
                              (chartUpdateClicked)="onChartUpdateClicked($event)"></app-medical-chart-list>
    </div>
    <div class="col-sm-4">
      <app-medical-chart-form [chartToUpdate]="chartToUpdate"
                              (chartUpdated)="onChartUpdate($event)"
                              (chartCreated)="onChartDeleted($event)"></app-medical-chart-form>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
