<table class="table-sm table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">JMBG</th>
    <th scope="col">IME</th>
    <th scope="col">PREZIME</th>
    <th scope="col">Detaljnije</th>
    <th scope="col">Izmeni</th>
    <th scope="col">Obriši</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let chart of charts;let idx = index">
    <td scope="row">{{idx+1}}</td>
    <td scope="row">{{chart.ssn}}</td>
    <td scope="row">{{chart.name}}</td>
    <td scope="row">{{chart.surname}}</td>
    <td scope="row">
      <button class="btn btn-info" type="button" (click)="details(chart.id)">>></button>
    </td>
    <td scope="row">
      <button href="#" (click)="updateChart(chart)" class="btn btn-warning ">E</button>
    </td>
    <td scope="row">
      <button (click)="deleteChart(chart.id)" class="btn btn-danger">X</button>
    </td>
  </tr>
  </tbody>
</table>
