<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div *ngIf="chart" class="chart">
        <h3>JMBG: {{chart.ssn}}</h3>
        <h5>Ime: {{chart.name}}</h5>
        <h5>Prezime: {{chart.surname}}</h5>
        <h5 *ngIf="chart.allergies.length>0">Alergije: {{getAllergies(chart.allergies)}}</h5>
        <a href="/diagnosis/{{chart.id}}">Prethodne dijagnoze</a>
      </div>
      <hr/>
      <h4>Dijagnoza</h4>
      <form novalidate id="form" [formGroup]="form"
            (ngSubmit)="diagnose(symptoms.value)">

        <div class="form-group">
          <label for="symptoms">Simptomi</label>
          <input type="text" formControlName="symptoms" id="symptoms" placeholder="Unesite simptome" [ngClass]="{
            'form-control is-invalid': symptoms.invalid && (symptoms.dirty || symptoms.touched),
            'form-control is-valid': symptoms.valid && (symptoms.dirty || symptoms.touched),
            'form-control':true
          }">
          <p>
            <small>Unesite simptome razdvojene zarezom (ukoliko simptom ima vrednost, razdvojte dvotačkom npr.
              temperatura:39.0).
            </small>
          </p>
          <div class="invalid-feedback" *ngIf="symptoms.errors && (symptoms.dirty || symptoms.touched)">
            <p *ngIf="symptoms.errors.required">Unesite barem jedan simptom!</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Dijagnostikuj</button>
      </form>

      <hr/>

      <form novalidate id="diagnosisForm" [formGroup]="diagnosisForm">
        <div class="form-group">
          <h4>Uspostavi dijagnozu</h4>
          <label for="selectedDisease">Izaberi bolest</label>
          <div class="col-xs-5 selectContainer">
            <select required class="form-control" id="selectedDisease" formControlName="selectedDisease">
              <option *ngFor="let d of diseases" value="{{d.id}}">tip: {{d.type}} {{d.name}}</option>
            </select>
          </div>
          <div class="invalid-feedback"
               *ngIf="selectedDisease.errors && (selectedDisease.dirty || selectedDisease.touched)">
            <p *ngIf="selectedDisease.errors.required">Odaberite bolest!.</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="setDiagnosis(selectedDisease.value)"
                [disabled]="diagnosisForm.invalid">Uspostavi dijagnozu
        </button>
      </form>

      <hr/>

      <form novalidate id="medicinesForm"
            (ngSubmit)="setMedicines()">

        <div class="form-group">
          <label>Recept za lekove</label>
          <div class="checkbox" *ngFor="let i of medicines">
            <label>
              <input type="checkbox" value="i.id" class="box"
                     (change)="onCheckboxChange(i,$event)">{{i.name}}</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="validateMedicines()"
                [disabled]="this.checkedMedicines.length<1">Validiraj recept
        </button>
      </form>
      <h4>{{medicineValidationMessage}}</h4>
    </div>
    <div class="col-sm-3">
      <app-disease-card *ngIf="calculatedDisease" [disease]="calculatedDisease"></app-disease-card>
      <h5 *ngIf="noDiseaseCalculated">Simptomi ne odgovaraju nijednoj definasnoj bolesti!</h5>
    </div>
  </div>
</div>
